:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.search {
  display: flex;
  height: 50%;
  align-items: center;
  flex: 0 0 40%;
  justify-content: center;
  border-radius: 10rem; }
  .search__input {
    border: none;
    height: 100%;
    width: 90%;
    padding: 0.7rem 1.5rem;
    border-radius: 10rem;
    margin-right: -3.25rem;
    background-color: var(--color-grey-light-2);
    transition: all 0.23s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__button {
    border: none;
    background-color: transparent; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem; }
  .user-nav > *:hover {
    cursor: pointer;
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__user {
    display: flex;
    align-items: center; }
    .user-nav__user-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem; }
  .user-nav__notification {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    text-align: center;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__list {
    list-style: none;
    margin-top: 3rem; }
  .sidebar__item {
    display: flex;
    align-items: center;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    font-size: 1.4rem;
    position: relative; }
    .sidebar__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .sidebar__item::before {
    content: '';
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .sidebar__item:hover::before, .sidebar__item_active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__item:active::before {
    background-color: var(--color-primary-light); }
  .sidebar__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
  .sidebar__link:link, .sidebar__link:visited {
    color: inherit;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: flex;
    z-index: 100; }

.hotel-view {
  background-color: #fff;
  min-height: 70rem; }

.legal {
  padding: 1.5rem;
  text-align: center; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    vertical-align: bottom; }

.overview {
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .overview__stars {
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__heading {
    text-transform: uppercase;
    padding: 3rem;
    font-size: 1.8rem;
    letter-spacing: 1.6px; }
  .overview__location {
    display: flex; }
  .overview__rating {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2rem;
    align-self: stretch;
    padding: 1rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    text-transform: uppercase; }
    .overview__rating-average {
      font-size: 2.2rem;
      font-weight: 300; }

.btn_inline {
  color: var(--color-primary);
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary);
  font-size: inherit; }
  .btn_inline:focus {
    outline: none;
    animation: pulsate 0.4s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.details {
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
  display: flex;
  font-size: 1.4rem; }

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  display: flex;
  flex-direction: column; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  padding: 2rem 0;
  margin: 2rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    width: 50%;
    margin-bottom: 0.5rem; }
  .list__item::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
    background-image: none; }

.recommend {
  display: flex;
  align-items: center; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box;
    margin-left: -1.5rem;
    width: 4.5rem;
    height: 4.5rem; }
  .recommend__count {
    margin-right: auto; }

.user-reviews {
  flex: 1;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.review {
  box-shadow: var(--shadow-light);
  background-color: #fff;
  padding: 2.5rem;
  position: relative;
  margin-bottom: 2rem; }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: '\201C';
    position: absolute;
    top: -3.5rem;
    left: -0.5rem;
    color: var(--color-grey-light-2);
    font-size: 20rem;
    line-height: 1;
    z-index: 1; }

.container {
  width: 1220px;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 10rem auto; }

.header {
  background-color: var(--color-grey-light-1);
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-dark-1);
  display: flex;
  align-items: center;
  justify-content: space-between; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 18%; }

.hotel-view {
  flex: 1; }
