.container {
    width: 1220px;
    background-color: var(--color-grey-light-1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin: 10rem auto;
}

.header {
    background-color: var(--color-grey-light-1);
    width: 100%;
    height: 7rem;
    border-bottom: 1px solid var(--color-grey-dark-1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
}

.sidebar {
    flex: 0 0 18%;
}

.hotel-view {
    flex: 1;
}
